langchain-community
chromadb
sentence-transformers
pypdf
python-dotenv
groq
fastapi uvicorn
torch 
torchvision torchaudio
opencv-python
tensorflow
numpy
pip install langchain langchain-community langchain-chroma