html, body {
  width: 100%;
  height: 100%; 
  margin: 0; 
  background: rgba(255, 0, 0, 0.3);
  outline : 2px solid yellow;
  overflow: hidden;   /*because i hate scrollbars ew.*/
}

#root {
  position: relative;
  width: 100%; height: 100%;
  display: grid; place-items: center;
  -webkit-app-region: drag;     /* drag anywhere except the button */
  overflow: hidden;
}

#dashBtn {
  position: absolute; right: 8px; bottom: 8px;
  width: 24px; height: 24px;
  border: none; border-radius: 6px;
  background: rgba(0,0,0,.35); color: #fff;
  font-size: 16px; cursor: pointer;
  -webkit-app-region: no-drag;  /* clickable */
}

#buddy {
  width: 100%; height: 100%;
  image-rendering: pixelated; image-rendering: crisp-edges;
  user-select: none; pointer-events: none;
}

